.description {
    display: flex;
    flex-direction: column;
    color: #DFF6FF;
    margin: 5rem 12%;
    padding: 35px;
    background-color: #95d5ff49;
    font-family: 'Varela Round', sans-serif;
    z-index: 2;
    position: relative;
}
.description a {
    color: #47B5FF;
}

.description a:hover {
    color: #06283D;
}

.about-me-photo {
    width: 30%;
    object-fit:cover; 
    margin-left: 35%;
    border-radius: 50%;
    border: 5px solid #DFF6FF;
}

.about-me-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 840px) {
    .about-me-photo {
        width: 60%;
        margin-left: 21%;
    }
    .description {
        margin: 5rem 0.8rem;
    }
}