.description {
    color: black !important;
    margin: 90px 10em;
    padding: 35px;
    border: 2px solid black;
    background-color: #fcc5c092;
    font-family: 'Varela Round', sans-serif;
    z-index: 2;
    position: relative;
    object-position: top;
}