.description {
    display: flex;
    flex-direction: column;
    color: #DFF6FF;
    margin: 5rem 12%;
    padding: 35px;
    background-color: #95d5ff49;
    font-family: 'Varela Round', sans-serif;
    z-index: 1;
    position: relative;
    min-width: 300px;
}
.description a {
    color: #47B5FF;
}

.description a:hover {
    color: #06283D;
}

.about-me-photo {
    width: 30%;
    object-fit:cover; 
    margin-left: 35%;
    border-radius: 50%;
    border: 5px solid #DFF6FF;
}

.about-me-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 840px) {
    .about-me-photo {
        width: 60%;
        min-width: 200px;
        margin: 0
    }
    .description {
        margin: 2rem 0;
    }

    .description h1 {
        font-size: 22px;
    }

    .description h4 {
        font-size: 18px;
    }

    .about-me-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}