.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    margin-top: 2rem;
    position: relative;
    color:DFF6FF;
    z-index: 2;
    /* text-shadow: 1px 1px 6px white; */
}

.profile-photo {
    padding:0;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.644);
    margin-right: 50px;
}

.studied-techs {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: 3.5rem;
}

.presentation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.presentation-container h4 {
    margin: 15px 0;
}

.presentation-container img {
    width: 18px;
}

.presentation-container button {
    background: #dff6ff8e;
    transition: background-color 0.25s ease;
}

.presentation-container button:hover {
    background-color: transparent;
    color: #DFF6FF;
    transition: background-color 0.5s ease, ;
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* margin-top: 10px; */
}

.contact a {
    text-decoration: none;
    color: #DFF6FF;
    text-shadow: none;
    font-size:1.25em;
    position: relative;
    transition: text-shadow 0.5s ease;
}
.contact a:hover {
    color: #DFF6FF;
    text-decoration: none;
    text-shadow: 1px 1px 7px white;
}

.contact img {
    width: 1.5em;
    margin: 7px;
    color:#DFF6FF;
}

@media only screen and (max-width: 840px) {
    .home-container {
        flex-direction: column;
        margin-top: 0rem;
    }
    .profile-photo {
        width: 50%;
        min-width: 300px;
        height: 50%;
        margin: 25px;
        border: 3px solid rgba(255, 255, 255, 0.644);
    }
    .studied-techs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        margin-left: 0;
    }
    .studied-techs img {
        width: 35px;
        height: 35px;
    }
    .presentation-container h1 {
        font-size: 31px;
        margin: 0;
    }
    .presentation-container h4 {
        font-size: 20px;
        margin: 0;
    }
}