.navbar-menu-container {
    position: relative;
    z-index: 5
}

.in-path {
    background: #FCC5C0 !important;
}

.menu-logo {
    display: none !important;
}

.navbar-button {
    margin: 10px;
    background: #ffd6ff;
    align-items: center;
    transition: background 0.5s ease;
}

.navbar-button:hover {
    background: #FCC5C0;
}

.navbar img {
    width: 50px;
}

.responsive-menu,
.responsive-menu-div {
    display: none;
}

@media only screen and (max-width: 840px) {
    .navbar-button {
        display: none;
    }

    .d-inline-block {
        width: 40px !important;
        margin: -7px -15px -15px !important;
    }

    .responsive-menu {
        display: block;
        z-index: 7
    }

    .navbar-menu-container {
        display: flex;
        flex-direction: column;
    }

    .responsive-menu-div {
        display: flex;
        background: #ffd6fff0;
        border: 2px solid white;
        margin: 10px 0 0 15px;
        font-size: 18px;
    }

    .responsive-menu-div Link {
        width: 100%;
    }

    .responsive-menu-div button {
        width: 100%;
        text-align: start;
    }

    .responsive-menu-div button:active {
        background-color: #FCC5C0 !important;
    }
}