.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    transition: background-color 0.25s ease;
}

.in-path {
    background-color: #FCC5C0 !important;
}

.navbar-container .menu-logo {
    display: none !important;
}

.navbar-button {
    margin: 10px;
    background-color: #ffd6ff;
    align-items: center;
    transition: background-color 0.5s ease;
}

.navbar-button:hover {
    background-color: #FCC5C0;
}

.navbar img {
    width: 50px;
}

.non-active-menu {
    display:none;
}

.active-menu {
    display:none;
}

@media only screen and (max-width: 840px) {
    .navbar-button {
        display: none;
    }
    .d-inline-block {
        width: 40px !important;
        margin: -7px -15px -15px !important;
    }
    .navbar-container {
        flex: 1;
        justify-content:flex-start;
        text-align: right;
        margin: -15px;
        margin-bottom: 8px;
    }
    .navbar-container .menu-logo {
        display:block !important;
        margin: 10px;
    }
    .non-active-menu {
        display:none;
    }
    .active-menu {
        height: 150px;
        display: block;
        display:flex;
        flex-direction: column;
        margin-left: 5px;
    }
    .active-menu li {
        margin-top: 7px;
        display: inline-block;
        text-decoration: none;
        font-size: 20px;
        color: black;
        list-style-type: none;
    }
    .navbar-menu-container {
        display: flex;
        flex-direction: column;
    }
}
