.breaking-bad-image {
    width: 25rem;
    border: 2px solid black;
}

.all-projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-container {
    width: 33rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.link-to {
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
    transition: font-size 0.5s ease;
}

.link-to:hover {
    font-size: 1.75rem;
    color: rgb(172, 223, 255);
    text-decoration: none;
}
