.App {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: #ffeaff;
    min-height:100%; 
    min-width:100%;
}

@media only screen and (max-width: 840px) {

    .App {
        padding: 1rem;
    }

}