.App {
    padding: 2rem;
    box-shadow: inset 0 430px 200px -15px #FCC5C0;
    background-color: #937DC2;
    color: #ffeaff;
    position: absolute; 
    min-height:100%; 
    min-width:100%;
}
 .App button {
    border-style: solid;
    border: 2px solid black
 }